<mat-card class="product-create">
    <mat-card-title>Confirmar exclusão Produto</mat-card-title>
    <form action="">
        <mat-form-field appearance="fill">
            <mat-label>Nome do Produto</mat-label>
            <input matInput placeholder="Nome do Produto" [value]="product.name" name="name" disabled="">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Preço (R$)</mat-label>
            <input matInput placeholder="Preço R$" [value]="product.price" name="price" disabled="">
        </mat-form-field>
    </form>
    <mat-card-footer class="product-create-footer">
        <button mat-raised-button (click)="deleteProduct()" color="primary">
            Apagar produto
        </button>

        <button mat-raised-button (click)="cancel()" color="accent">
            Cancelar
        </button>
    </mat-card-footer>
</mat-card>

