<mat-card class="home">
    <mat-card-title class="home-title">
        Bem vindo
    </mat-card-title>
    <mat-card-subtitle class="home-subtitle">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem neque accusantium voluptatem id, repellendus deleniti error saepe nostrum fuga similique ea a ratione quisquam, dignissimos libero alias repudiandae animi accusamus.
    </mat-card-subtitle>
    <ul>
        <li *myFor="let n em [1,2,3,4]"> {{ n }}</li>
    </ul>
</mat-card>
